*.py[co]
__pycache__/
.cache/
tmp/
.pytest_cache/
*.pyc
.python-version
.env
.env.local
.env.*
.idea
*.iml
*.swp

deploy/backup
deploy/*/env.local

celerybeat-schedule
celerybeat-schedule.db

user_upload
.DS_Store